---
title: "About Us"
layout: default
permalink: "/aboutus"
comments: false
---

<div class="container">
    <h4 class="font-weight-bold spanborder"><span>{{ page.title }}</span></h4>
    
    <div class="about-us-introduction mt-4 mb-4">
        <h5 class="mb-3">Mediterranean Agency</h5>
        <p>The Mediterranean Agency was established in 2022 with the aim of bringing world languages and literature to international platforms through copyright trading. Emerging from <a href="https://damlapublishing.com/" target="_blank">Damla Publishing House</a>, which was founded in 1974 and continues to operate today, our company has inherited a rich publishing legacy and, with a dynamic team, contributes to world literature.</p>
        
        <p>Mediterranean Agency aims to bring together a specialized and dynamic team to share its deep experience and expertise with publishers worldwide. Operating in the field of copyright in more than 20 languages, our agency has become the gateway to the world for all the stakeholders it represents, placing quality and ethical values at the forefront.</p>

        <h5 class="mt-4 mb-3">Our Vision</h5>
        <p>The Mediterranean Agency has adopted a vision of bringing the rich world of literature to international platforms through copyright trading. Our goals include sharing and promoting our cultural heritage globally, making the works of writers and artists more visible in international markets, and reaching broader audiences worldwide.</p>

        <h5 class="mt-4 mb-3">Our Mission</h5>
        <p>Our mission is to establish the necessary infrastructure to bring the richness of literature and its universal values to the world stage through copyright trading, and to guide this process. Key objectives include connecting authors' works with readers abroad, building cultural bridges, and contributing to the international recognition of literature. Additionally, protecting creative writers and their works, and promoting justice and respect in the field of copyright, are integral to our mission. As the Mediterranean Agency, we aim to use the power of literature to foster intercultural understanding and offer a more colorful and enriching reading experience worldwide.</p>

        <h5 class="mt-4 mb-3">Our Values</h5>
        <p>We accept all living beings and entities in their natural state, maintaining a respectful distance from content that contradicts their essence. We embrace a multicultural understanding that unites everyone and everything based on inclusivity, respect, and values, without excluding any ethnic, political, or religious group. In line with these principles, we distance ourselves from content that stands in opposition. We believe that a healthy life can be achieved through the beauty, virtues, and quality of life, and we evaluate all literary content within this framework.</p>

        <h5 class="mt-4 mb-3">Our Goal</h5>
        <p>Our goal is to build strong collaborations with publishers through national and international events, fairs, and professional meetings, creating intercultural bridges and expanding the reach of Turkish literature internationally. Our agency aims to shape the future of publishing by prioritizing both the quality of literary content and the protection of copyright.</p>

        <div class="mt-4 text-right">
            <p class="mb-0"><strong>Mehmet Bahadır Doğru</strong></p>
            <p>Chief Business Officer of Mediterranean Agency</p>
        </div>
    </div>

    <h4 class="font-weight-bold spanborder"><span>Our Team</span></h4>
    
    <div class="row gap-y listrecent listrecent listauthor">
        {% for member in site.team %}
            <div class="col-lg-3 mb-5">
                <a href="{{ site.baseurl }}{{ member.contact-url }}" class="text-decoration-none">
                    <div class="p-4 border rounded team-member-card">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between mb-4 mb-md-1">
                                <img alt="{{ member.title }}" src="{{ site.baseurl }}{{ member.image }}" class="rounded-circle">
                            </div>
                            <div class="col-md-12">
                                <h4 class="text-dark mb-0 justify-content-center text-center">{{ member.title }}</h4>
                                <p class="text-muted text-center mb-2">{{ member.position }}</p>
                                {% if member.language %}
                                    <p class="text-muted text-center mb-2">Spoken Languages:</p>
                                    <div class="d-flex justify-content-center flex-wrap">
                                        {% for lang in member.language %}
                                            <span class="badge badge-light mr-1 mb-1">{{ lang }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="icon-block mt-3 d-flex justify-content-center">  
                                <div>
                                    {% if member.twitter %}    
                                    <a target="_blank" href="{{ member.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
                                    {% endif %}
                                    {% if member.facebook %} 
                                    <a target="_blank" href="{{ member.facebook }}"><i class="fab fa-facebook text-muted" aria-hidden="true"></i></a>  &nbsp;
                                    {% endif %}
                                    {% if member.youtube %} 
                                    <a target="_blank" href="{{ member.youtube }}"><i class="fab fa-youtube text-muted" aria-hidden="true"></i></a>  &nbsp;
                                    {% endif %}
                                    {% if member.instagram %} 
                                    <a target="_blank" href="{{ member.instagram }}"><i class="fab fa-instagram text-muted" aria-hidden="true"></i></a>  &nbsp;
                                    {% endif %}
                                    {% if member.site %} 
                                    <a target="_blank" href="{{ member.site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


<style>
    .team-member-card {
        position: relative;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .team-member-card img {
        max-width: 200px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .team-member-card .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
        z-index: 1;
    }

    .team-member-card .icon-block {
        margin-top: auto;
        display: flex;
        justify-content: center;
    }

    .team-member-card .icon-block a {
        margin: 0 5px;
    }
</style>